.section {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-color: #fff;
}

.card {
    margin: 10px 0px;
    border: none;
    border-radius: unset;
    transition: box-shadow .2s ease-out;
}

.card:hover {
    z-index: 1;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .4), 0 6px 12px 0 rgba(0, 0, 0, .2);
}

.blue {
    background-color: #e1f2ff;
    color: #1194f6;
}
  
.cyan {
    background-color: #dff7fa;
    color: #00bcd6;
}
  
.deeppurple {
    background-color: #ede7f6;
    color: #6734ba;
}
  
.purple {
    background-color: #f3e5f5;
    color: #a100b7;
}
  
.orange {
    background-color: #fff3df;
    color: #f90;
}
  
.red {
    background-color: #ffebee;
    color: #f7412d;
}
  
.teal {
    background-color: #dff2f1;
    color: #009788;
}
  
.pink {
    background-color: #fde4ec;
    color: #ec1561;
}
  
.green {
    background-color: #e8f5e9;
    color: #47b04b;
}
  
.deeporange {
    background-color: #fbe9e7;
    color: #ff5607;
}
  
.lightblue {
    background-color: #e0f5ff;
    color: #00a7f7;
}
  
.amber {
    background-color: #fff8e0;
    color: #ffc200;
}

.price {
    font-size: 14px;
    padding: 2px 7px;
    border-radius: 2px;
}

.price:hover {
    background-color: #343a40;
    color: #f8f9fa !important;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #000;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.card {
    background-color: #ffebee !important;
}