.section .icon-detail {
    position: relative;
    padding: 32px;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    -ms-flex: 1;
    flex: 1 1;
}

.section .icon-detail .icon-detail-bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    -webkit-transform: translateY(49px);
    -ms-transform: translateY(49px);
    transform: translateY(49px);
}

.section .icon-detail, .icon-detail-bg {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

/* .icon-detail-content {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -ms-flex: 1;
    flex: 1 1;
}

.section .icon-detail-bg, .icon-detail-content {
    -ms-flex-pack: center;
    justify-content: center;
} */

.icon-size ul li {
    display: inline;
}

.icon-size ul li a {
    float: none;
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 14px;
}

.icon-size ul li a.active {
    border: 2px solid #dbdcdf;
}

.icon-size ul li:hover a {
    border: 2px solid #dbdcdf;
    cursor: pointer;
}

.icon-size ul li:hover:first-child a {
    border: 2px solid #fff;
    cursor: unset;
}

.icon-size ul li:active a {
    cursor: default;
    border: 2px solid #e0e1e4;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #434445;
}

.icon-size ul li a em {
    font-style: normal;
    font-size: 11px;
    vertical-align: text-bottom;
}

.custom-icon-size input {
    border: 2px solid #fff;
    padding: 5px 10px;
    margin: 0;
    font-size: 14px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    width: 95px;
    -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s;
}

.custom-icon-size:hover input {
    border: 2px solid #dbdcdf;
    width: 130px;
}

.custom-icon-size input:focus {
    border: 2px solid #b4b4b4;
    outline: none;
    width: 130px;
}

.custom-icon-size:hover a {
    border: 2px solid #fff !important;
}

.custom-icon-size a img {
    width: 20px;
    margin-left: -40px;
    opacity: .5;
}

.custom-icon-size a img:hover {
    opacity: 1;
}

.custom-icon-size a img:active {
    width: 18px;
}

.custom-icon-size img:hover {
    cursor: pointer;
}

.icon-info .row:first-child {
    padding: 10vh 0;
}

.icon-prop h1 {
    letter-spacing: -0.03em;
    font-weight: bold;
}

.icon-button button {
    margin: 0 5px;
}

.icon-prev {
    width: 300px;
    /* -webkit-transition: width 1s;
    transition: width 1s; */
}