/* .icon-detail-content {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -ms-flex: 1;
    flex: 1 1;
}

.section .icon-detail-bg, .icon-detail-content {
    -ms-flex-pack: center;
    justify-content: center;
} */

.content {
    min-height: 95vh;
}

.icon-nav {
    width: 100%;
    background-color: #ffefdf;
    padding: 1px 15px;
    margin: 49px 0 1px 0;
}

.icon-nav ul {
    text-align: center;
    margin: .3rem 0;
}
 
.icon-nav ul li {
    display: inline;
}

.icon-nav ul li a {
    float: none;
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none;
    border: 2px solid #ffefdf;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 14px;
}

.icon-nav ul li a.active {
    border: 2px solid #fff;
}

.icon-nav ul li:hover a {
    border: 2px solid #fff;
    cursor: pointer;
}

/* .icon-nav ul li:hover:first-child a {
    border: 2px solid #ffefdf;
    cursor: unset;
} */

.icon-nav ul li:active a {
    cursor: default;
    border: 2px solid #f3f3f3;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #434445;
}

.icon-nav ul li a em {
    font-style: normal;
    font-size: 11px;
    vertical-align: text-bottom;
}

.custom-icon-size input {
    border: 2px solid #ffefdf;
    padding: 5px 10px;
    margin: 0;
    font-size: 14px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    width: 130px;
    /* -webkit-transition: width 1s; 
    transition: width 1s; */
}

.custom-icon-size:hover input {
    border: 2px solid #fff;
    width: 130px;
}

.custom-icon-size input:focus {
    border: 2px solid #b4b4b4;
    outline: none;
    width: 130px;
}

.custom-icon-size:hover a {
    border: 2px solid #ffefdf !important;
}

.custom-icon-size a img {
    width: 20px;
    margin-left: -60px;
    opacity: .5;
}

.custom-icon-size a img:hover {
    opacity: 1;
}

.custom-icon-size a img:active {
    width: 18px;
}

.custom-icon-size img:hover {
    cursor: pointer;
}

.icon-info .row:first-child {
    padding: 10vh 0;
}

.icon-prop h1 {
    letter-spacing: -0.03em;
    font-weight: bold;
}

.icon-button button {
    margin: 0 5px;
}

.icon-prev {
    width: 100%;
    height: 300px;
}

.icon-prev img {
     -webkit-transition: width .5s;
    transition: width .5s;
}

.icon-size-overlay h6, .icon-size-overlay span {
    font-size: 14px;
    font-weight: bold;
}

@media only screen and (max-width: 991px) {

    .icon-info .row:first-child {
        padding: 5vh 0;
    }

    .icon-sub-detail {
        display: none;
    }
}