.section .icon-detail {
    position: relative;
    padding: 32px;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    -ms-flex: 1;
    flex: 1 1;
}

.section .icon-detail .icon-detail-bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    -webkit-transform: translateY(49px);
    -ms-transform: translateY(49px);
    transform: translateY(49px);
}

.section .icon-detail, .icon-detail-bg {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

/* .icon-detail-content {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -ms-flex: 1;
    flex: 1 1;
}

.section .icon-detail-bg, .icon-detail-content {
    -ms-flex-pack: center;
    justify-content: center;
} */

.section .icon-detail .icon-detail-bg .icon-detail-content .icon-size ul li {
    display: inline;
}

.section .icon-detail .icon-detail-bg .icon-detail-content .icon-size ul li a {
    float: none;
    padding: 0 7px;
    display: inline-block;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 12px;
}

.section .icon-detail .icon-detail-bg .icon-detail-content .icon-size ul li:hover a {
    border: 2px solid #dbdcdf;
}

.section .icon-detail .icon-detail-bg .icon-detail-content .icon-size ul li:active a {
    cursor: default;
    border: 2px solid #e0e1e4;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #434445;
}

.section .icon-detail .icon-detail-bg .icon-detail-content .icon-size ul li a em {
    font-style: normal;
}

.section .icon-detail .icon-detail-bg .icon-detail-content .icon-prop {
    text-align: center;
}