.navbar {
    background-color: rgba(238, 241, 243, .95);
    padding: .25rem 1rem;
}

.navbar .logo {
    opacity: .8;
}

.navbar .logo:hover {
    opacity: 1;
}

.navbar .navbar-nav .nav-item.active .nav-link {
    opacity: 1;
}

.navbar .navbar-nav .nav-link {
    opacity: .7;
    text-align: right;
}

.navbar .navbar-nav .nav-link:hover {
    opacity: 1;
}

.navbar .navbar-brand div {
    cursor: pointer;
}

.navbar .navbar-brand h5 {
    margin: 0 0 0 5px;
    font-weight: bold;
    display: none;
}

.navbar .navbar-toggler {
    padding: 0 .25rem;
}

.navbar .nav-image {
    opacity: .8;
}

.navbar .nav-image:hover {
    opacity: 1;
}

.navbar .show-collapsed {
    display: none;
}

@media only screen and (max-width: 991px) {

    .navbar .navbar-brand h5 {
        display: unset;
    }
    
    .navbar .hidden-collapsed {
        display: none;
    }

    .navbar .show-collapsed {
        display: unset;
    }
}



@media only screen and (max-width: 425px) {

    .navbar .navbar-nav .nav-link {
        line-height: .8;
    }
}

@media only screen and (max-width: 320px) {

    .navbar .navbar-nav .nav-link {
        line-height: .7;
    }
}